@using AuctionPortal.BusinessLayer.DataTransferObjects
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<AuctionDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p margin-top="10px">
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-sm">
    <tr>
        <th>
            @nameof(AuctionDTO.Name)
        </th>
        <th>
            @nameof(AuctionDTO.ActualPrice)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.ActualPrice.ToString("N2") CZK
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingTime.ToString("dd-MM-yyyy hh:mm"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<div class="col-md-12">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
</div>