@model AuctionPortal.PresentationLayer.Models.Accounts.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

<div>
    @using (Html.BeginForm("ChangePassword", "Account", Model, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("Email", User.Identity.Name)
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.PasswordAgain, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.PasswordAgain, new { @class = "form-control", @placeholder = "PasswordAgain" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit and relogin" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
