@model AuctionPortal.PresentationLayer.Models.Auctions.AuctionDetailViewModel

@{
    ViewBag.Title = "AuctionDetailView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm">
        <h3>@Html.DisplayFor(model => model.Name)</h3>

        <div class="row text-justify top-buffer-small col-sm-12">@Html.DisplayFor(model => model.Description)</div>
        <br />
        <div class="row top-buffer-small col-sm-12">
            @{
                <div class="row">
                    <div class="col-sm-4">
                        <span>Opened <strong class="text-danger">@Model.IsOpened.ToString()</strong></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <span>Actual price: <strong class="text-danger">@Model.ActualPrice.ToString("N2"),- CZK</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Closing time: <strong class="text-danger">@Model.ClosingTime.ToString("dd-MM-yyyy hh:mm")</strong></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <span>Auction owner: <strong class="text-danger">@Model.AccountFullName</strong></span>
                    </div>
                </div>
            }
        </div>

        <p>
            @Html.ActionLink("Back to all auctions", "Index")
        </p>
    </div>
</div>